.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
    /* <-> block */
}

.list-group {
    display: none;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden; /* 모습만 숨김 */
    opacity: 0;  /* 안보이게 */
    transition: all 1s;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.show {
    display: block;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.main-bg {
    padding: 100px 20px;
    background: lightgray
}

.badge.bg-dark {
    cursor: pointer;
}

.dark {
    background: black;
    color: white;
}

.white {
    background: white;
    color: black;
}

.slide-container {
    width: 300vw; /* vw: 브라우저폭 == 100vw */
    /* transform: translateX(-100vw); */
    transition: all 1s;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img{
    width: 100%;
}


.btn-div {
    display: flex;
}

.btn-area {
    margin: 0 auto;
}